/*HEADER.PHP STYLES*/

header {
    background-color: #182825;
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    display: flex;
    padding: 0% 6%;
    justify-content: space-between;
    align-items: center;
}
.logo{
    margin-left: 10%;
    display: flex;

}
.nav-links {
    flex: 1;
    text-align: right;
}

nav li {
    list-style: none;
    display: inline-block;
    padding: 1.2em 1.3em;
}

nav a {
    color: #F7F4F3;
    text-decoration: none;
    font-size: .9em; 
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 1.2em 1.3em;
}

.nav-links ul li a {
    color: #F7F4F3;
    text-decoration: none;
    font-size: .9em;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: .1em;
    background: #016FB9;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}


/* FOOTER.PHP STYLES */

.footer {

    background-color: #182825;
    background-blend-mode: overlay;
    padding-top: 1%;
    padding-bottom: 2%;
}

.footer-col {
    width: 25%;
    padding: 0 .8em;
    padding-left: 7%;
    font-weight: 500;
    position: relative;

}

.footer-col h4 {
    font-size: 1.1em;
    color: #F7F4F3;
    text-transform: capitalize;
    margin-bottom: 1em;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -.4em;
    background-color: #016FB9;
    height: .1em;
    box-sizing: border-box;
    width: 4em;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: .5em;
}

.footer-col ul li a {
    font-size: .9em;
    text-transform: capitalize;
    color: #F7F4F3;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #F7F4F3;
    padding-left: .5em;
}

.footer-container {
    max-width: 85em;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
    
}








/* ADMIN_VIEW.PHP STYLES*/
body{
    background-color: #6D8EA0;
    font-size: 14px;
    font-family:'Poppins', sans-serif;
    /*checar com o tamanho do arquivo css original*/
}

.container{
    width: 80%;
    margin: 5% auto;
}

.container-sign-in{
    width: 60%;
    margin: 5% auto;
}


.contact-form{
    background-color: white;
    display: flex;
}

.contact-left-column{
    flex-basis: 60%;
    padding: 3% 5%;
}

.contact-right-column{
    flex-basis: 40%;
    padding:3%;
    background-color: #016FB9;
    color: white;
}

.container p {
    margin-bottom: 3%;
}

.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 4%;
    
}

.input-row .input-field{
    flex-basis: 35%;
}

input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    margin-top: 5%;
    
}

label{
    color: #016FB9;
    display:block;

}

textarea{
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding:2%;
    box-sizing: border-box;
    margin-top: 2%;
}


button{
    width: 100px;
    background-color: #016FB9;
    color: white;
    border-radius: 30px;
    border: none;
    height: 35px;
    margin-top: 5%;
    box-shadow: 0px 5px 15px 0px rgba(28, 0, 181, 0.3);
    

}

.button {
    background-color: #1c87c9;
    border: none;
    color: white;
    padding: 10px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 30px;
  }

.login-button{
    width: 100px;
    background-color: white;
    color: #016FB9;
    border-radius: 30px;
    border: none;
    height: 35px;
    margin-top: 5%;
    box-shadow: 0px 5px 15px 0px rgba(28, 0, 181, 0.3);
    margin-left: 30%;
    

}



.contact-left-column h3{
    color: #016FB9;
    font-weight: 600;
    margin-bottom: 6%;
    
}

.contact-right-column h3{
    color: white;
    font-weight: 600;
    margin-bottom: 6%;
    
}

tr td:first-child{
    padding-right: 20px;
}
tr td{    
    padding-top: 5%;
}



/* WEEK 6 STYLES 

LOGIN.PHP

*/









